.loader {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.spinner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: rem(2) solid var(--white);
  border-right: rem(2) solid var(--white);
  animation: rotation 1s linear infinite;

  .lg {
    border-top: rem(2) solid var(--purple-600);
    border-right: rem(2) solid var(--gray-100);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sm {
  width: rem(15);
  height: rem(15);
}

.lg {
  width: rem(64);
  height: rem(64);
  margin: 0 auto;
}
