:root {
  --white: #ffffff;
  --black: #000000;

  // Gray
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1d2939;
  --gray-900: #101828;
  --gray-950: #0c111d;

  // Green
  --green-25: #f6fef9;
  --green-50: #edfcf2;
  --green-100: #d3f8df;
  --green-200: #aaf0c4;
  --green-300: #73e2a3;
  --green-400: #3ccb7f;
  --green-500: #16b364;
  --green-600: #099250;
  --green-700: #087443;
  --green-800: #095c37;
  --green-900: #084c2e;
  --green-950: #052e1c;

  // Purple
  --purple-100: #f4ebff;
  --purple-200: #e9d7fe;
  --purple-400: #9b8afb;
  --purple-600: #7f56d9;
  --purple-700: #5925dc;
  --purple-800: #53389e;
  --purple-900: #3e1c96;

  // Red
  --red-500: #ff4405;
  --red-600: #c0392b;

  // Pink
  --pink-50: #fdf2fa;
  --pink-200: #fcceee;
  --pink-500: #ee46bc;
  --pink-700: #c11574;

  // Success
  --success-50: #ecfdf3;
  --success-200: #abefc6;
  --success-500: #17b26a;
  --success-700: #027a48;
}
