.badge {
  @include font-size('text-xs', 'medium');
  color: var(--gray-700);
  display: inline-flex;
  align-items: center;
  gap: rem(4);
  padding: rem(2) rem(6);
  border: rem(1) solid var(--gray-300);
  border-radius: rem(6);
}
